        .maingr {
                border: 2px solid black;
                    text-align: center;
                    }
                    .gr20 {
                        margin: 30px;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 15px;
                        float: left;
                        width: 30%;
                    }
                    .gr6 {
                        grid-column: 1/2;
                        
                        justify-self:end;
                    }
                    .gr7 {
                    grid-column: 2/3;
                    
                    }
                    .gr8 {
                    grid-column: 3/4;
                    }
                    .gr30 {
                        margin: 30px;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-row: 1/3;
                        grid-gap: 15px;
                        float: left;
                        width: 30%;
                        
                        
                    }
                    .gr9 {
                    
                        grid-column: 1/2;
                        grid-row: 1/3;
                    }
                    .gr10 {
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }
                    .gr11 {
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }
                    .gr12 {
                        grid-column: 3/4;
                        justify-self: start;
                        grid-row: 1/3;
                    }